---
title: Modules
layout: page
display_on_main_menu : true
display_on_top_menu : false
display_footer : false
---



<div class="et_pb_section  et_pb_section_1 et_section_regular et_pb_scroll_1">
	<div class=" et_pb_row et_pb_row_0">
		<div class="et_pb_column et_pb_column_1_3 et_pb_column_1" style="margin: 0px; padding: 17px;">
			{% include modules/blurb
				icon="&#xe060;"
				align="left"
				url="note/"
				header="ElegantIcon Blurbs"
				msg="Unlimited color options and a selection of over 300 retina display icons."
			%}
		</div>
		<div class="et_pb_column et_pb_column_1_3 et_pb_column_1" style="margin: 0px; padding: 17px;">
			{% include modules/blurb
				icon="&#xe089;"
				align="left"
				url="blurb/"
				header="ElegantIcon Blurbs"
				msg="Unlimited color options and a selection of over 300 retina display icons."
			%}
		</div>
	</div>
</div>