<ul class="et-social-icons">
	{% if site.facebook_url %}
		<li class="et-social-icon">
			<a href="{{site.facebook_url}}" target="_blank" class="icon">
				<i class="fa fa-facebook"></i>
				<span>Facebook</span>
			</a>
		</li>
	{% endif %}
	{% if site.twitter_url %}
		<li class="et-social-icon">
			<a href="{{site.twitter_url}}" target="_blank" class="icon">
				<i class="fa fa-twitter"></i>
				<span>Twitter</span>
			</a>
		</li>
	{% endif %}
	{% if site.github_url %}
		<li class="et-social-icon">
			<a href="{{site.github_url}}" target="_blank" class="icon">
				<i class="fa fa-github-alt"></i>
				<span>Github</span>
			</a>
		</li>
	{% endif %}
	{% if site.youtube_url %}
		<li class="et-social-icon">
			<a href="{{site.youtube_url}}" target="_blank" class="icon">
				<i class="fa fa-youtube-play"></i>
				<span>Youtube</span>
			</a>
		</li>
	{% endif %}
	{% if site.google_url %}
		<li class="et-social-icon">
			<a href="{{site.google_url}}" target="_blank" class="icon">
				<i class="fa fa-rss"></i>
				<span>Google</span>
			</a>
		</li>
	{% endif %}
	{% if site.linkedin_url %}
		<li class="et-social-icon">
			<a href="{{site.linkedin_url}}" target="_blank" class="icon">
				<i class="fa fa-linkedin"></i>
				<span>Linkedin</span>
			</a>
		</li>
	{% endif %}
</ul>