
{% comment %} <!-- Capture _menu_items string --> {% endcomment %}
{% capture _menu_items %}
   {% comment %} <!-- Get all pages --> {% endcomment %}
   {% assign _pages = site.pages %}

   {% comment %} <!-- Sort by URL --> {% endcomment %}
   {% assign _pages = _pages | sort: "url" %}

   {% comment %} <!-- Foreach array items --> {% endcomment %}
   {% for node in _pages %}
   
      {% comment %} <!-- BREAK if node title is not set --> {% endcomment %}
      {% unless node.title %}{% continue %}{% endunless %}
      
      {% comment %} <!-- Get the node url excluding the included URL --> {% endcomment %}
      {% assign _url_start = node.url | truncate: include.url.size, "" %}
      
      {% comment %} <!-- BREAK if the include URL is eq on this node --> {% endcomment %}
      {% unless include.url == _url_start %}{% continue %}{% endunless %}
      
      {% comment %} <!-- Get the final ends of the node URL --> {% endcomment %}
      {% assign _url_rest = node.url | remove_first: _url_start %}

      {% comment %} <!-- Get "/" count --> {% endcomment %}
      {% assign _url_rest_size = _url_rest | split: "/" | size %}

      {% comment %} <!-- BREAK if post --> {% endcomment %}
      {% assign _childmenu = 0 %}
      {% assign _have_pagination = node.url | split: "/page-" | size %}
      {% if _have_pagination == 2 %}
         {% continue %}
      {% endif %}

      {% comment %} <!-- Get the last char --> {% endcomment %}
      {% assign _lastchar = node.url | split: "" | last %}

      {% comment %} <!-- Get the next url to search --> {% endcomment %}
      {% assign _nexturl = node.url %}

      {% if _url_rest_size == 0 %}
         {% comment %} <!-- BREAK if the include URL is the root directory --> {% endcomment %}
         {% unless include.url == "/" %}{% continue %}{% endunless %}

      {% comment %} <!-- If the last character is "/" --> {% endcomment %}
      {% elsif _lastchar == "/" %}
         {% comment %} <!-- BREAK if this node not have any children --> {% endcomment %}
         {% unless _url_rest_size == 1 %}{% continue %}{% endunless %}
         
      {% comment %} <!-- If have childs --> {% endcomment %}
      {% elsif _url_rest_size == 2 %}

         {% comment %} <!-- Explode _url_rest by "/" & save the last index --> {% endcomment %}
         {% assign _filename = _url_rest | split: "/" | last %}

         {% comment %} <!-- Get the first six chars --> {% endcomment %}
         {% assign _checkindex = _filename | truncate: 6, "" %}

         {% comment %} <!-- BREAK If _checkindex not eq "index." --> {% endcomment %}
         {% unless _checkindex == "index." %}{% continue %}{% endunless %}

         {% comment %} <!-- Get the next url to search --> {% endcomment %}
         {% assign _nexturl = node.url.size | minus: _filename.size %}{% assign _nexturl = node.url | truncate: _nexturl, "" %}
      
      {% comment %} <!-- By default --> {% endcomment %}
      {% else %}
         {% comment %} <!-- BREAK if not is the root directory --> {% endcomment %}
         {% unless _url_rest_size == 1 and include.url == "/" %}{% continue %}{% endunless %}

      {% endif %}

      {% comment %} <!-- Initialize --> {% endcomment %}
      {% assign _childmenu = "" %}

      {% comment %} <!-- If not is the root directory --> {% endcomment %}
      {% unless node.url == "/" %}
      {% capture _childmenu %}
         {% comment %} <!-- Returns _childmenu  {{_nexturl}} --> {% endcomment %}
         {% include top_menu.inc.html url=_nexturl ischildren=true %}
      {% endcapture %}{% endunless %}

      {% comment %} <!-- Return the classes --> {% endcomment %}
      {% capture _classes %}

         {% if page.url == node.url %}
            selected{{ " " }}
         {% endif %}

         {% assign _childmenu = _childmenu | strip %}
         {% if _childmenu != "" %}
            {% unless include.ischildren %}menu-item-has-children{{ " " }}{% endunless %}
         {% else %}
            leaf
         {% endif %}

      {% endcapture %}

      {% comment %} <!-- Returns <li> element --> {% endcomment %}
      {% if node.display_on_top_menu == true %}
         <li class="menu-item menu-item-type-post_type menu-item-object-page {{ _classes | strip }}">
            <a href="{{ site.baseurl }}{{ node.url }}">{{ node.title | escape }}</a>
            {{ _childmenu | strip }}
         </li>
      {% endif %}

   {% endfor %}
{% endcapture %}

{% assign _srip_items = _menu_items | strip %}
{% unless _srip_items == "" %}
   {% if include.ischildren %}
      <ul class="sub-menu">
         {{ _srip_items }}
      </ul>
   {% else %}
      <ul id="et-secondary-nav" class="menu">
         {{ _srip_items }}
      </ul>
   {% endif %}
{% endunless %}