<!-- top menu -->
<div class="container clearfix">
	<div id="et-info">
		{% if site.phone %}
			<span id="et-info-phone">{{site.phone}}</span>
		{% endif %}
		{% if site.email %}
			<a href="mailto:{{site.email}}"><span id="et-info-email">{{site.email}}</span></a>
		{% endif %}
		
		<ul class="et-social-icons">
			{% if site.facebook_url %}
				<li class="et-social-icon et-social-facebook">
					<a href="{{site.facebook_url}}" class="icon">
						<span>Facebook</span>
					</a>
				</li>
			{% endif %}
			{% if site.twitter_url %}
				<li class="et-social-icon et-social-twitter">
					<a href="{{site.twitter_url}}" class="icon">
						<span>Twitter</span>
					</a>
				</li>
			{% endif %}
			
			{% if site.google_url %}
				<li class="et-social-icon et-social-google-plus">
					<a href="{{site.google_url}}" class="icon">
						<span>Google</span>
					</a>
				</li>
			{% endif %}
		</ul>
	</div>
	<!-- #et-info -->
	<div id="et-secondary-menu">
		<div class="et_duplicate_social_icons">
			<ul class="et-social-icons">
				{% if site.facebook_url %}
					<li class="et-social-icon et-social-facebook">
						<a href="{{site.facebook_url}}" class="icon">
							<span>Facebook</span>
						</a>
					</li>
				{% endif %}
				{% if site.twitter_url %}
					<li class="et-social-icon et-social-twitter">
						<a href="{{site.twitter_url}}" class="icon">
							<span>Twitter</span>
						</a>
					</li>
				{% endif %}
				
				{% if site.google_url %}
					<li class="et-social-icon et-social-google-plus">
						<a href="{{site.google_url}}" class="icon">
							<span>Google</span>
						</a>
					</li>
				{% endif %}
			</ul>
		</div>
		{% include top_menu.inc.html url='/' %}
	</div>
	<!-- #et-secondary-menu -->
</div>