---
title: Blurb
layout: page
display_on_main_menu : true
display_on_top_menu : false
display_footer : false
---

<!--section #-->
	<!--row #-->
		<!--col-4-4 #-->
		<h1>Top Blurb</h1>
		<!--endcol-->
	<!--endrow-->

	<!--row #-->
		<!--col-4-4 #-->
			{% include modules/blurb
				align="top"
				icon="&#xe011;"
				url="#yoururl"
				header="Top Blurb"
				msg="Unlimited color options and a selection of over 300 retina display icons."
			%}
		<!--endcol-->
	<!--endrow-->

	<!--row #-->
		<!--col-4-4 #-->
			<p>Code:</p>
		<!--endcol-->
		<!--col-4-4 #-->
{% highlight html %}{% raw %}
{% include modules/blurb
	align="top"
	icon="&#xe011;"
	url="#yoururl"
	header="Top Blurb"
	msg="Unlimited color options and a selection of over 300 retina display icons."
%}
{% endraw %}{% endhighlight %}
		<!--endcol-->
	<!--endrow-->

<!--endsection-->


<!--section #-->
	<!--row #-->
		<!--col-4-4 #-->
		<h1>Left Blurb</h1>
		<!--endcol-->
	<!--endrow-->

	<!--row #-->
		<!--col-4-4 #-->
			{% include modules/blurb
				align="left"
				icon="&#xe007;"
				url="#yoururl"
				header="Left Blurb"
				msg="Unlimited color options and a selection of over 300 retina display icons."
			%}
		<!--endcol-->
	<!--endrow-->

	<!--row #-->
		<!--col-4-4 #-->
			<p>Code:</p>
		<!--endcol-->
		<!--col-4-4 #-->
{% highlight html %}{% raw %}
{% include modules/blurb
	align="left"
	icon="&#xe007;"
	url="#yoururl"
	header="Left Blurb"
	msg="Unlimited color options and a selection of over 300 retina display icons."
%}
{% endraw %}{% endhighlight %}
		<!--endcol-->
	<!--endrow-->

<!--endsection-->


<!--section #-->
	<!--row #-->
		<!--col-4-4 #-->
		<h1>Left Blurb</h1>
		<!--endcol-->
	<!--endrow-->

	<!--row #-->
		<!--col-4-4 #-->
			{% include modules/blurb
				align="top"
				icon="&#x36;"
				icon_color="#fefefe"
				icon_background="#cd5c5c"
				icon_border_color="rgba(51, 51, 51, 0.45)"
				url="#yoururl"
				header="Custom Blurb"
				msg="Unlimited color options and a selection of over 300 retina display icons."
			%}
		<!--endcol-->
	<!--endrow-->

	<!--row #-->
		<!--col-4-4 #-->
			<p>Code:</p>
		<!--endcol-->
		<!--col-4-4 #-->
{% highlight html %}{% raw %}
{% include modules/blurb
	align="top"
	icon="&#x36;"
	icon_color="#fefefe"
	icon_background="#cd5c5c"
	icon_border_color="rgba(51, 51, 51, 0.45)"
	url="#yoururl"
	header="Custom Blurb"
	msg="Unlimited color options and a selection of over 300 retina display icons."
%}
{% endraw %}{% endhighlight %}
		<!--endcol-->
	<!--endrow-->

<!--endsection-->


<!--section #-->
	<!--row #-->
		<!--col-4-4 #-->
			<h1>Icons</h1>
			<style type="text/css">
			.mtm>div{
				padding: 6px;
				text-align: center;
				float: left;
			}
			.mtm>div span{
				display: inline;
				font-size: 30px !important;
			}
			.mtm>div input{
				display: block;
				font-size: 10px;
				border-radius: 5px;
				text-align: center;
				max-width: 70px;
				margin-top: 8px;
				margin-bottom: 30px;
			}
			</style>
			<section class="mtm clearfix" id="glyphs">
				<div>
					<span class="et-pb-icon">&#x21;</span>
					<input type="text" value="&amp;#x21;">
				</div>
				<div>
					<span class="et-pb-icon">&#x22;</span>
					<input type="text" value="&amp;#x22;">
				</div>
				<div>
					<span class="et-pb-icon">&#x23;</span>
					<input type="text" value="&amp;#x23;">
				</div>
				<div>
					<span class="et-pb-icon">&#x24;</span>
					<input type="text" value="&amp;#x24;">
				</div>
				<div>
					<span class="et-pb-icon">&#x25;</span>
					<input type="text" value="&amp;#x25;">
				</div>
				<div>
					<span class="et-pb-icon">&#x26;</span>
					<input type="text" value="&amp;#x26;">
				</div>
				<div>
					<span class="et-pb-icon">&#x27;</span>
					<input type="text" value="&amp;#x27;">
				</div>
				<div>
					<span class="et-pb-icon">&#x28;</span>
					<input type="text" value="&amp;#x28;">
				</div>
				<div>
					<span class="et-pb-icon">&#x29;</span>
					<input type="text" value="&amp;#x29;">
				</div>
				<div>
					<span class="et-pb-icon">&#x2a;</span>
					<input type="text" value="&amp;#x2a;">
				</div>
				<div>
					<span class="et-pb-icon">&#x2b;</span>
					<input type="text" value="&amp;#x2b;">
				</div>
				<div>
					<span class="et-pb-icon">&#x2c;</span>
					<input type="text" value="&amp;#x2c;">
				</div>
				<div>
					<span class="et-pb-icon">&#x2d;</span>
					<input type="text" value="&amp;#x2d;">
				</div>
				<div>
					<span class="et-pb-icon">&#x2e;</span>
					<input type="text" value="&amp;#x2e;">
				</div>
				<div>
					<span class="et-pb-icon">&#x2f;</span>
					<input type="text" value="&amp;#x2f;">
				</div>
				<div>
					<span class="et-pb-icon">&#x30;</span>
					<input type="text" value="&amp;#x30;">
				</div>
				<div>
					<span class="et-pb-icon">&#x31;</span>
					<input type="text" value="&amp;#x31;">
				</div>
				<div>
					<span class="et-pb-icon">&#x32;</span>
					<input type="text" value="&amp;#x32;">
				</div>
				<div>
					<span class="et-pb-icon">&#x33;</span>
					<input type="text" value="&amp;#x33;">
				</div>
				<div>
					<span class="et-pb-icon">&#x34;</span>
					<input type="text" value="&amp;#x34;">
				</div>
				<div>
					<span class="et-pb-icon">&#x35;</span>
					<input type="text" value="&amp;#x35;">
				</div>
				<div>
					<span class="et-pb-icon">&#x36;</span>
					<input type="text" value="&amp;#x36;">
				</div>
				<div>
					<span class="et-pb-icon">&#x37;</span>
					<input type="text" value="&amp;#x37;">
				</div>
				<div>
					<span class="et-pb-icon">&#x38;</span>
					<input type="text" value="&amp;#x38;">
				</div>
				<div>
					<span class="et-pb-icon">&#x39;</span>
					<input type="text" value="&amp;#x39;">
				</div>
				<div>
					<span class="et-pb-icon">&#x3a;</span>
					<input type="text" value="&amp;#x3a;">
				</div>
				<div>
					<span class="et-pb-icon">&#x3b;</span>
					<input type="text" value="&amp;#x3b;">
				</div>
				<div>
					<span class="et-pb-icon">&#x3c;</span>
					<input type="text" value="&amp;#x3c;">
				</div>
				<div>
					<span class="et-pb-icon">&#x3d;</span>
					<input type="text" value="&amp;#x3d;">
				</div>
				<div>
					<span class="et-pb-icon">&#x3e;</span>
					<input type="text" value="&amp;#x3e;">
				</div>
				<div>
					<span class="et-pb-icon">&#x3f;</span>
					<input type="text" value="&amp;#x3f;">
				</div>
				<div>
					<span class="et-pb-icon">&#x40;</span>
					<input type="text" value="&amp;#x40;">
				</div>
				<div>
					<span class="et-pb-icon">&#x41;</span>
					<input type="text" value="&amp;#x41;">
				</div>
				<div>
					<span class="et-pb-icon">&#x42;</span>
					<input type="text" value="&amp;#x42;">
				</div>
				<div>
					<span class="et-pb-icon">&#x43;</span>
					<input type="text" value="&amp;#x43;">
				</div>
				<div>
					<span class="et-pb-icon">&#x44;</span>
					<input type="text" value="&amp;#x44;">
				</div>
				<div>
					<span class="et-pb-icon">&#x45;</span>
					<input type="text" value="&amp;#x45;">
				</div>
				<div>
					<span class="et-pb-icon">&#x46;</span>
					<input type="text" value="&amp;#x46;">
				</div>
				<div>
					<span class="et-pb-icon">&#x47;</span>
					<input type="text" value="&amp;#x47;">
				</div>
				<div>
					<span class="et-pb-icon">&#x48;</span>
					<input type="text" value="&amp;#x48;">
				</div>
				<div>
					<span class="et-pb-icon">&#x49;</span>
					<input type="text" value="&amp;#x49;">
				</div>
				<div>
					<span class="et-pb-icon">&#x4a;</span>
					<input type="text" value="&amp;#x4a;">
				</div>
				<div>
					<span class="et-pb-icon">&#x4b;</span>
					<input type="text" value="&amp;#x4b;">
				</div>
				<div>
					<span class="et-pb-icon">&#x4c;</span>
					<input type="text" value="&amp;#x4c;">
				</div>
				<div>
					<span class="et-pb-icon">&#x4d;</span>
					<input type="text" value="&amp;#x4d;">
				</div>
				<div>
					<span class="et-pb-icon">&#x4e;</span>
					<input type="text" value="&amp;#x4e;">
				</div>
				<div>
					<span class="et-pb-icon">&#x4f;</span>
					<input type="text" value="&amp;#x4f;">
				</div>
				<div>
					<span class="et-pb-icon">&#x50;</span>
					<input type="text" value="&amp;#x50;">
				</div>
				<div>
					<span class="et-pb-icon">&#x51;</span>
					<input type="text" value="&amp;#x51;">
				</div>
				<div>
					<span class="et-pb-icon">&#x52;</span>
					<input type="text" value="&amp;#x52;">
				</div>
				<div>
					<span class="et-pb-icon">&#x53;</span>
					<input type="text" value="&amp;#x53;">
				</div>
				<div>
					<span class="et-pb-icon">&#x54;</span>
					<input type="text" value="&amp;#x54;">
				</div>
				<div>
					<span class="et-pb-icon">&#x55;</span>
					<input type="text" value="&amp;#x55;">
				</div>
				<div>
					<span class="et-pb-icon">&#x56;</span>
					<input type="text" value="&amp;#x56;">
				</div>
				<div>
					<span class="et-pb-icon">&#x57;</span>
					<input type="text" value="&amp;#x57;">
				</div>
				<div>
					<span class="et-pb-icon">&#x58;</span>
					<input type="text" value="&amp;#x58;">
				</div>
				<div>
					<span class="et-pb-icon">&#x59;</span>
					<input type="text" value="&amp;#x59;">
				</div>
				<div>
					<span class="et-pb-icon">&#x5a;</span>
					<input type="text" value="&amp;#x5a;">
				</div>
				<div>
					<span class="et-pb-icon">&#x5b;</span>
					<input type="text" value="&amp;#x5b;">
				</div>
				<div>
					<span class="et-pb-icon">&#x5c;</span>
					<input type="text" value="&amp;#x5c;">
				</div>
				<div>
					<span class="et-pb-icon">&#x5d;</span>
					<input type="text" value="&amp;#x5d;">
				</div>
				<div>
					<span class="et-pb-icon">&#x5e;</span>
					<input type="text" value="&amp;#x5e;">
				</div>
				<div>
					<span class="et-pb-icon">&#x5f;</span>
					<input type="text" value="&amp;#x5f;">
				</div>
				<div>
					<span class="et-pb-icon">&#x60;</span>
					<input type="text" value="&amp;#x60;">
				</div>
				<div>
					<span class="et-pb-icon">&#x61;</span>
					<input type="text" value="&amp;#x61;">
				</div>
				<div>
					<span class="et-pb-icon">&#x62;</span>
					<input type="text" value="&amp;#x62;">
				</div>
				<div>
					<span class="et-pb-icon">&#x63;</span>
					<input type="text" value="&amp;#x63;">
				</div>
				<div>
					<span class="et-pb-icon">&#x64;</span>
					<input type="text" value="&amp;#x64;">
				</div>
				<div>
					<span class="et-pb-icon">&#x65;</span>
					<input type="text" value="&amp;#x65;">
				</div>
				<div>
					<span class="et-pb-icon">&#x66;</span>
					<input type="text" value="&amp;#x66;">
				</div>
				<div>
					<span class="et-pb-icon">&#x67;</span>
					<input type="text" value="&amp;#x67;">
				</div>
				<div>
					<span class="et-pb-icon">&#x68;</span>
					<input type="text" value="&amp;#x68;">
				</div>
				<div>
					<span class="et-pb-icon">&#x69;</span>
					<input type="text" value="&amp;#x69;">
				</div>
				<div>
					<span class="et-pb-icon">&#x6a;</span>
					<input type="text" value="&amp;#x6a;">
				</div>
				<div>
					<span class="et-pb-icon">&#x6b;</span>
					<input type="text" value="&amp;#x6b;">
				</div>
				<div>
					<span class="et-pb-icon">&#x6c;</span>
					<input type="text" value="&amp;#x6c;">
				</div>
				<div>
					<span class="et-pb-icon">&#x6d;</span>
					<input type="text" value="&amp;#x6d;">
				</div>
				<div>
					<span class="et-pb-icon">&#x6e;</span>
					<input type="text" value="&amp;#x6e;">
				</div>
				<div>
					<span class="et-pb-icon">&#x6f;</span>
					<input type="text" value="&amp;#x6f;">
				</div>
				<div>
					<span class="et-pb-icon">&#x70;</span>
					<input type="text" value="&amp;#x70;">
				</div>
				<div>
					<span class="et-pb-icon">&#x71;</span>
					<input type="text" value="&amp;#x71;">
				</div>
				<div>
					<span class="et-pb-icon">&#x72;</span>
					<input type="text" value="&amp;#x72;">
				</div>
				<div>
					<span class="et-pb-icon">&#x73;</span>
					<input type="text" value="&amp;#x73;">
				</div>
				<div>
					<span class="et-pb-icon">&#x74;</span>
					<input type="text" value="&amp;#x74;">
				</div>
				<div>
					<span class="et-pb-icon">&#x75;</span>
					<input type="text" value="&amp;#x75;">
				</div>
				<div>
					<span class="et-pb-icon">&#x76;</span>
					<input type="text" value="&amp;#x76;">
				</div>
				<div>
					<span class="et-pb-icon">&#x77;</span>
					<input type="text" value="&amp;#x77;">
				</div>
				<div>
					<span class="et-pb-icon">&#x78;</span>
					<input type="text" value="&amp;#x78;">
				</div>
				<div>
					<span class="et-pb-icon">&#x79;</span>
					<input type="text" value="&amp;#x79;">
				</div>
				<div>
					<span class="et-pb-icon">&#x7a;</span>
					<input type="text" value="&amp;#x7a;">
				</div>
				<div>
					<span class="et-pb-icon">&#x7b;</span>
					<input type="text" value="&amp;#x7b;">
				</div>
				<div>
					<span class="et-pb-icon">&#x7c;</span>
					<input type="text" value="&amp;#x7c;">
				</div>
				<div>
					<span class="et-pb-icon">&#x7d;</span>
					<input type="text" value="&amp;#x7d;">
				</div>
				<div>
					<span class="et-pb-icon">&#x7e;</span>
					<input type="text" value="&amp;#x7e;">
				</div>
				<div>
					<span class="et-pb-icon">&#xe000;</span>
					<input type="text" value="&amp;#xe000;">
				</div>
				<div>
					<span class="et-pb-icon">&#xe001;</span>
					<input type="text" value="&amp;#xe001;">
				</div>
				<div>
					<span class="et-pb-icon">&#xe002;</span>
					<input type="text" value="&amp;#xe002;">
				</div>
				<div>
					<span class="et-pb-icon">&#xe003;</span>
					<input type="text" value="&amp;#xe003;">
				</div>
				<div>
					<span class="et-pb-icon">&#xe004;</span>
					<input type="text" value="&amp;#xe004;">
				</div>
				<div>
					<span class="et-pb-icon">&#xe005;</span>
					<input type="text" value="&amp;#xe005;">
				</div>
				<div>
					<span class="et-pb-icon">&#xe006;</span>
					<input type="text" value="&amp;#xe006;">
				</div>
				<div>
					<span class="et-pb-icon">&#xe007;</span>
					<input type="text" value="&amp;#xe007;">
				</div>
				<div>
					<span class="et-pb-icon">&#xe008;</span>
					<input type="text" value="&amp;#xe008;">
				</div>
				<div>
					<span class="et-pb-icon">&#xe009;</span>
					<input type="text" value="&amp;#xe009;">
				</div>
				<div>
					<span class="et-pb-icon">&#xe00a;</span>
					<input type="text" value="&amp;#xe00a;">
				</div>
				<div>
					<span class="et-pb-icon">&#xe00b;</span>
					<input type="text" value="&amp;#xe00b;">
				</div>
				<div>
					<span class="et-pb-icon">&#xe00c;</span>
					<input type="text" value="&amp;#xe00c;">
				</div>
				<div>
					<span class="et-pb-icon">&#xe00d;</span>
					<input type="text" value="&amp;#xe00d;">
				</div>
				<div>
					<span class="et-pb-icon">&#xe00e;</span>
					<input type="text" value="&amp;#xe00e;">
				</div>
				<div>
					<span class="et-pb-icon">&#xe00f;</span>
					<input type="text" value="&amp;#xe00f;">
				</div>
				<div>
					<span class="et-pb-icon">&#xe010;</span>
					<input type="text" value="&amp;#xe010;">
				</div>
				<div>
					<span class="et-pb-icon">&#xe011;</span>
					<input type="text" value="&amp;#xe011;">
				</div>
				<div>
					<span class="et-pb-icon">&#xe012;</span>
					<input type="text" value="&amp;#xe012;">
				</div>
				<div>
					<span class="et-pb-icon">&#xe013;</span>
					<input type="text" value="&amp;#xe013;">
				</div>
				<div>
					<span class="et-pb-icon">&#xe014;</span>
					<input type="text" value="&amp;#xe014;">
				</div>
				<div>
					<span class="et-pb-icon">&#xe015;</span>
					<input type="text" value="&amp;#xe015;">
				</div>
				<div>
					<span class="et-pb-icon">&#xe016;</span>
					<input type="text" value="&amp;#xe016;">
				</div>
				<div>
					<span class="et-pb-icon">&#xe017;</span>
					<input type="text" value="&amp;#xe017;">
				</div>
				<div>
					<span class="et-pb-icon">&#xe018;</span>
					<input type="text" value="&amp;#xe018;">
				</div>
				<div>
					<span class="et-pb-icon">&#xe019;</span>
					<input type="text" value="&amp;#xe019;">
				</div>
				<div>
					<span class="et-pb-icon">&#xe01a;</span>
					<input type="text" value="&amp;#xe01a;">
				</div>
				<div>
					<span class="et-pb-icon">&#xe01b;</span>
					<input type="text" value="&amp;#xe01b;">
				</div>
				<div>
					<span class="et-pb-icon">&#xe01c;</span>
					<input type="text" value="&amp;#xe01c;">
				</div>
				<div>
					<span class="et-pb-icon">&#xe01d;</span>
					<input type="text" value="&amp;#xe01d;">
				</div>
				<div>
					<span class="et-pb-icon">&#xe01e;</span>
					<input type="text" value="&amp;#xe01e;">
				</div>
				<div>
					<span class="et-pb-icon">&#xe01f;</span>
					<input type="text" value="&amp;#xe01f;">
				</div>
				<div>
					<span class="et-pb-icon">&#xe020;</span>
					<input type="text" value="&amp;#xe020;">
				</div>
				<div>
					<span class="et-pb-icon">&#xe021;</span>
					<input type="text" value="&amp;#xe021;">
				</div>
				<div>
					<span class="et-pb-icon">&#xe022;</span>
					<input type="text" value="&amp;#xe022;">
				</div>
				<div>
					<span class="et-pb-icon">&#xe023;</span>
					<input type="text" value="&amp;#xe023;">
				</div>
				<div>
					<span class="et-pb-icon">&#xe024;</span>
					<input type="text" value="&amp;#xe024;">
				</div>
				<div>
					<span class="et-pb-icon">&#xe025;</span>
					<input type="text" value="&amp;#xe025;">
				</div>
				<div>
					<span class="et-pb-icon">&#xe026;</span>
					<input type="text" value="&amp;#xe026;">
				</div>
				<div>
					<span class="et-pb-icon">&#xe027;</span>
					<input type="text" value="&amp;#xe027;">
				</div>
				<div>
					<span class="et-pb-icon">&#xe028;</span>
					<input type="text" value="&amp;#xe028;">
				</div>
				<div>
					<span class="et-pb-icon">&#xe029;</span>
					<input type="text" value="&amp;#xe029;">
				</div>
				<div>
					<span class="et-pb-icon">&#xe02a;</span>
					<input type="text" value="&amp;#xe02a;">
				</div>
				<div>
					<span class="et-pb-icon">&#xe02b;</span>
					<input type="text" value="&amp;#xe02b;">
				</div>
				<div>
					<span class="et-pb-icon">&#xe02c;</span>
					<input type="text" value="&amp;#xe02c;">
				</div>
				<div>
					<span class="et-pb-icon">&#xe02d;</span>
					<input type="text" value="&amp;#xe02d;">
				</div>
				<div>
					<span class="et-pb-icon">&#xe02e;</span>
					<input type="text" value="&amp;#xe02e;">
				</div>
				<div>
					<span class="et-pb-icon">&#xe02f;</span>
					<input type="text" value="&amp;#xe02f;">
				</div>
				<div>
					<span class="et-pb-icon">&#xe030;</span>
					<input type="text" value="&amp;#xe030;">
				</div>
						
				<div>
					<span class="et-pb-icon">&#xe103;</span>
					<input type="text" value="&amp;#xe103;">
				</div>
				<div>
					<span class="et-pb-icon">&#xe0ee;</span>
					<input type="text" value="&amp;#xe0ee;">
				</div>
				<div>
					<span class="et-pb-icon">&#xe0ef;</span>
					<input type="text" value="&amp;#xe0ef;">
				</div>
				<div>
					<span class="et-pb-icon">&#xe0e8;</span>
					<input type="text" value="&amp;#xe0e8;">
				</div>
				<div>
					<span class="et-pb-icon">&#xe0ea;</span>
					<input type="text" value="&amp;#xe0ea;">
				</div>
				<div>
					<span class="et-pb-icon">&#xe101;</span>
					<input type="text" value="&amp;#xe101;">
				</div>
				<div>
					<span class="et-pb-icon">&#xe107;</span>
					<input type="text" value="&amp;#xe107;">
				</div>
				<div>
					<span class="et-pb-icon">&#xe108;</span>
					<input type="text" value="&amp;#xe108;">
				</div>
				<div>
					<span class="et-pb-icon">&#xe102;</span>
					<input type="text" value="&amp;#xe102;">
				</div>
				<div>
					<span class="et-pb-icon">&#xe106;</span>
					<input type="text" value="&amp;#xe106;">
				</div>
				<div>
					<span class="et-pb-icon">&#xe0eb;</span>
					<input type="text" value="&amp;#xe0eb;">
				</div>
				<div>
					<span class="et-pb-icon">&#xe105;</span>
					<input type="text" value="&amp;#xe105;">
				</div>
				<div>
					<span class="et-pb-icon">&#xe0ed;</span>
					<input type="text" value="&amp;#xe0ed;">
				</div>
				<div>
					<span class="et-pb-icon">&#xe100;</span>
					<input type="text" value="&amp;#xe100;">
				</div>
				<div>
					<span class="et-pb-icon">&#xe104;</span>
					<input type="text" value="&amp;#xe104;">
				</div>
				<div>
					<span class="et-pb-icon">&#xe0e9;</span>
					<input type="text" value="&amp;#xe0e9;">
				</div>
				<div>
					<span class="et-pb-icon">&#xe109;</span>
					<input type="text" value="&amp;#xe109;">
				</div>
				<div>
					<span class="et-pb-icon">&#xe0ec;</span>
					<input type="text" value="&amp;#xe0ec;">
				</div>
				<div>
					<span class="et-pb-icon">&#xe0fe;</span>
					<input type="text" value="&amp;#xe0fe;">
				</div>
				<div>
					<span class="et-pb-icon">&#xe0f6;</span>
					<input type="text" value="&amp;#xe0f6;">
				</div>
				<div>
					<span class="et-pb-icon">&#xe0fb;</span>
					<input type="text" value="&amp;#xe0fb;">
				</div>
				<div>
					<span class="et-pb-icon">&#xe0e2;</span>
					<input type="text" value="&amp;#xe0e2;">
				</div>
				<div>
					<span class="et-pb-icon">&#xe0e3;</span>
					<input type="text" value="&amp;#xe0e3;">
				</div>
				<div>
					<span class="et-pb-icon">&#xe0f5;</span>
					<input type="text" value="&amp;#xe0f5;">
				</div>
				<div>
					<span class="et-pb-icon">&#xe0e1;</span>
					<input type="text" value="&amp;#xe0e1;">
				</div>
				<div>
					<span class="et-pb-icon">&#xe0ff;</span>
					<input type="text" value="&amp;#xe0ff;">
				</div>
						
				<div>
					<span class="et-pb-icon">&#xe031;</span>
					<input type="text" value="&amp;#xe031;">
				</div>
				<div>
					<span class="et-pb-icon">&#xe032;</span>
					<input type="text" value="&amp;#xe032;">
				</div>
				<div>
					<span class="et-pb-icon">&#xe033;</span>
					<input type="text" value="&amp;#xe033;">
				</div>
				<div>
					<span class="et-pb-icon">&#xe034;</span>
					<input type="text" value="&amp;#xe034;">
				</div>
				<div>
					<span class="et-pb-icon">&#xe035;</span>
					<input type="text" value="&amp;#xe035;">
				</div>
				<div>
					<span class="et-pb-icon">&#xe036;</span>
					<input type="text" value="&amp;#xe036;">
				</div>
				<div>
					<span class="et-pb-icon">&#xe037;</span>
					<input type="text" value="&amp;#xe037;">
				</div>
				<div>
					<span class="et-pb-icon">&#xe038;</span>
					<input type="text" value="&amp;#xe038;">
				</div>
				<div>
					<span class="et-pb-icon">&#xe039;</span>
					<input type="text" value="&amp;#xe039;">
				</div>
				<div>
					<span class="et-pb-icon">&#xe03a;</span>
					<input type="text" value="&amp;#xe03a;">
				</div>
				<div>
					<span class="et-pb-icon">&#xe03b;</span>
					<input type="text" value="&amp;#xe03b;">
				</div>
				<div>
					<span class="et-pb-icon">&#xe03c;</span>
					<input type="text" value="&amp;#xe03c;">
				</div>
				<div>
					<span class="et-pb-icon">&#xe03d;</span>
					<input type="text" value="&amp;#xe03d;">
				</div>
				<div>
					<span class="et-pb-icon">&#xe03e;</span>
					<input type="text" value="&amp;#xe03e;">
				</div>
				<div>
					<span class="et-pb-icon">&#xe03f;</span>
					<input type="text" value="&amp;#xe03f;">
				</div>
				<div>
					<span class="et-pb-icon">&#xe040;</span>
					<input type="text" value="&amp;#xe040;">
				</div>
				<div>
					<span class="et-pb-icon">&#xe041;</span>
					<input type="text" value="&amp;#xe041;">
				</div>
				<div>
					<span class="et-pb-icon">&#xe042;</span>
					<input type="text" value="&amp;#xe042;">
				</div>
				<div>
					<span class="et-pb-icon">&#xe043;</span>
					<input type="text" value="&amp;#xe043;">
				</div>
				<div>
					<span class="et-pb-icon">&#xe044;</span>
					<input type="text" value="&amp;#xe044;">
				</div>
				<div>
					<span class="et-pb-icon">&#xe045;</span>
					<input type="text" value="&amp;#xe045;">
				</div>
				<div>
					<span class="et-pb-icon">&#xe046;</span>
					<input type="text" value="&amp;#xe046;">
				</div>
				<div>
					<span class="et-pb-icon">&#xe047;</span>
					<input type="text" value="&amp;#xe047;">
				</div>
				<div>
					<span class="et-pb-icon">&#xe048;</span>
					<input type="text" value="&amp;#xe048;">
				</div>
				<div>
					<span class="et-pb-icon">&#xe049;</span>
					<input type="text" value="&amp;#xe049;">
				</div>
				<div>
					<span class="et-pb-icon">&#xe04a;</span>
					<input type="text" value="&amp;#xe04a;">
				</div>
				<div>
					<span class="et-pb-icon">&#xe04b;</span>
					<input type="text" value="&amp;#xe04b;">
				</div>
				<div>
					<span class="et-pb-icon">&#xe04c;</span>
					<input type="text" value="&amp;#xe04c;">
				</div>
				<div>
					<span class="et-pb-icon">&#xe04d;</span>
					<input type="text" value="&amp;#xe04d;">
				</div>
				<div>
					<span class="et-pb-icon">&#xe04e;</span>
					<input type="text" value="&amp;#xe04e;">
				</div>
				<div>
					<span class="et-pb-icon">&#xe04f;</span>
					<input type="text" value="&amp;#xe04f;">
				</div>
				<div>
					<span class="et-pb-icon">&#xe050;</span>
					<input type="text" value="&amp;#xe050;">
				</div>
				<div>
					<span class="et-pb-icon">&#xe051;</span>
					<input type="text" value="&amp;#xe051;">
				</div>
				<div>
					<span class="et-pb-icon">&#xe052;</span>
					<input type="text" value="&amp;#xe052;">
				</div>
				<div>
					<span class="et-pb-icon">&#xe053;</span>
					<input type="text" value="&amp;#xe053;">
				</div>
				<div>
					<span class="et-pb-icon">&#xe054;</span>
					<input type="text" value="&amp;#xe054;">
				</div>
				<div>
					<span class="et-pb-icon">&#xe055;</span>
					<input type="text" value="&amp;#xe055;">
				</div>
				<div>
					<span class="et-pb-icon">&#xe056;</span>
					<input type="text" value="&amp;#xe056;">
				</div>
				<div>
					<span class="et-pb-icon">&#xe057;</span>
					<input type="text" value="&amp;#xe057;">
				</div>
				<div>
					<span class="et-pb-icon">&#xe058;</span>
					<input type="text" value="&amp;#xe058;">
				</div>
				<div>
					<span class="et-pb-icon">&#xe059;</span>
					<input type="text" value="&amp;#xe059;">
				</div>
				<div>
					<span class="et-pb-icon">&#xe05a;</span>
					<input type="text" value="&amp;#xe05a;">
				</div>
				<div>
					<span class="et-pb-icon">&#xe05b;</span>
					<input type="text" value="&amp;#xe05b;">
				</div>
				<div>
					<span class="et-pb-icon">&#xe05c;</span>
					<input type="text" value="&amp;#xe05c;">
				</div>
				<div>
					<span class="et-pb-icon">&#xe05d;</span>
					<input type="text" value="&amp;#xe05d;">
				</div>
				<div>
					<span class="et-pb-icon">&#xe05e;</span>
					<input type="text" value="&amp;#xe05e;">
				</div>
				<div>
					<span class="et-pb-icon">&#xe05f;</span>
					<input type="text" value="&amp;#xe05f;">
				</div>
				<div>
					<span class="et-pb-icon">&#xe060;</span>
					<input type="text" value="&amp;#xe060;">
				</div>
				<div>
					<span class="et-pb-icon">&#xe061;</span>
					<input type="text" value="&amp;#xe061;">
				</div>
				<div>
					<span class="et-pb-icon">&#xe062;</span>
					<input type="text" value="&amp;#xe062;">
				</div>
				<div>
					<span class="et-pb-icon">&#xe063;</span>
					<input type="text" value="&amp;#xe063;">
				</div>
				<div>
					<span class="et-pb-icon">&#xe064;</span>
					<input type="text" value="&amp;#xe064;">
				</div>
				<div>
					<span class="et-pb-icon">&#xe065;</span>
					<input type="text" value="&amp;#xe065;">
				</div>
				<div>
					<span class="et-pb-icon">&#xe066;</span>
					<input type="text" value="&amp;#xe066;">
				</div>
				<div>
					<span class="et-pb-icon">&#xe067;</span>
					<input type="text" value="&amp;#xe067;">
				</div>
				<div>
					<span class="et-pb-icon">&#xe068;</span>
					<input type="text" value="&amp;#xe068;">
				</div>
				<div>
					<span class="et-pb-icon">&#xe069;</span>
					<input type="text" value="&amp;#xe069;">
				</div>
				<div>
					<span class="et-pb-icon">&#xe06a;</span>
					<input type="text" value="&amp;#xe06a;">
				</div>
				<div>
					<span class="et-pb-icon">&#xe06b;</span>
					<input type="text" value="&amp;#xe06b;">
				</div>
				<div>
					<span class="et-pb-icon">&#xe06c;</span>
					<input type="text" value="&amp;#xe06c;">
				</div>
				<div>
					<span class="et-pb-icon">&#xe06d;</span>
					<input type="text" value="&amp;#xe06d;">
				</div>
				<div>
					<span class="et-pb-icon">&#xe06e;</span>
					<input type="text" value="&amp;#xe06e;">
				</div>
				<div>
					<span class="et-pb-icon">&#xe06f;</span>
					<input type="text" value="&amp;#xe06f;">
				</div>
				<div>
					<span class="et-pb-icon">&#xe070;</span>
					<input type="text" value="&amp;#xe070;">
				</div>
				<div>
					<span class="et-pb-icon">&#xe071;</span>
					<input type="text" value="&amp;#xe071;">
				</div>
				<div>
					<span class="et-pb-icon">&#xe072;</span>
					<input type="text" value="&amp;#xe072;">
				</div>
				<div>
					<span class="et-pb-icon">&#xe073;</span>
					<input type="text" value="&amp;#xe073;">
				</div>
				<div>
					<span class="et-pb-icon">&#xe074;</span>
					<input type="text" value="&amp;#xe074;">
				</div>
				<div>
					<span class="et-pb-icon">&#xe075;</span>
					<input type="text" value="&amp;#xe075;">
				</div>
				<div>
					<span class="et-pb-icon">&#xe076;</span>
					<input type="text" value="&amp;#xe076;">
				</div>
				<div>
					<span class="et-pb-icon">&#xe077;</span>
					<input type="text" value="&amp;#xe077;">
				</div>
				<div>
					<span class="et-pb-icon">&#xe078;</span>
					<input type="text" value="&amp;#xe078;">
				</div>
				<div>
					<span class="et-pb-icon">&#xe079;</span>
					<input type="text" value="&amp;#xe079;">
				</div>
				<div>
					<span class="et-pb-icon">&#xe07a;</span>
					<input type="text" value="&amp;#xe07a;">
				</div>
				<div>
					<span class="et-pb-icon">&#xe07b;</span>
					<input type="text" value="&amp;#xe07b;">
				</div>
				<div>
					<span class="et-pb-icon">&#xe07c;</span>
					<input type="text" value="&amp;#xe07c;">
				</div>
				<div>
					<span class="et-pb-icon">&#xe07d;</span>
					<input type="text" value="&amp;#xe07d;">
				</div>
				<div>
					<span class="et-pb-icon">&#xe07e;</span>
					<input type="text" value="&amp;#xe07e;">
				</div>
				<div>
					<span class="et-pb-icon">&#xe07f;</span>
					<input type="text" value="&amp;#xe07f;">
				</div>
				<div>
					<span class="et-pb-icon">&#xe080;</span>
					<input type="text" value="&amp;#xe080;">
				</div>
				<div>
					<span class="et-pb-icon">&#xe081;</span>
					<input type="text" value="&amp;#xe081;">
				</div>
				<div>
					<span class="et-pb-icon">&#xe082;</span>
					<input type="text" value="&amp;#xe082;">
				</div>
				<div>
					<span class="et-pb-icon">&#xe083;</span>
					<input type="text" value="&amp;#xe083;">
				</div>
				<div>
					<span class="et-pb-icon">&#xe084;</span>
					<input type="text" value="&amp;#xe084;">
				</div>
				<div>
					<span class="et-pb-icon">&#xe085;</span>
					<input type="text" value="&amp;#xe085;">
				</div>
				<div>
					<span class="et-pb-icon">&#xe086;</span>
					<input type="text" value="&amp;#xe086;">
				</div>
				<div>
					<span class="et-pb-icon">&#xe087;</span>
					<input type="text" value="&amp;#xe087;">
				</div>
				<div>
					<span class="et-pb-icon">&#xe088;</span>
					<input type="text" value="&amp;#xe088;">
				</div>
				<div>
					<span class="et-pb-icon">&#xe089;</span>
					<input type="text" value="&amp;#xe089;">
				</div>
				<div>
					<span class="et-pb-icon">&#xe08a;</span>
					<input type="text" value="&amp;#xe08a;">
				</div>
				<div>
					<span class="et-pb-icon">&#xe08b;</span>
					<input type="text" value="&amp;#xe08b;">
				</div>
				<div>
					<span class="et-pb-icon">&#xe08c;</span>
					<input type="text" value="&amp;#xe08c;">
				</div>
				<div>
					<span class="et-pb-icon">&#xe08d;</span>
					<input type="text" value="&amp;#xe08d;">
				</div>
				<div>
					<span class="et-pb-icon">&#xe08e;</span>
					<input type="text" value="&amp;#xe08e;">
				</div>
				<div>
					<span class="et-pb-icon">&#xe08f;</span>
					<input type="text" value="&amp;#xe08f;">
				</div>
				<div>
					<span class="et-pb-icon">&#xe090;</span>
					<input type="text" value="&amp;#xe090;">
				</div>
				<div>
					<span class="et-pb-icon">&#xe091;</span>
					<input type="text" value="&amp;#xe091;">
				</div>
				<div>
					<span class="et-pb-icon">&#xe092;</span>
					<input type="text" value="&amp;#xe092;">
				</div>
						
				<div>
					<span class="et-pb-icon">&#xe0f8;</span>
					<input type="text" value="&amp;#xe0f8;">
				</div>
				<div>
					<span class="et-pb-icon">&#xe0fa;</span>
					<input type="text" value="&amp;#xe0fa;">
				</div>
				<div>
					<span class="et-pb-icon">&#xe0e7;</span>
					<input type="text" value="&amp;#xe0e7;">
				</div>
				<div>
					<span class="et-pb-icon">&#xe0fd;</span>
					<input type="text" value="&amp;#xe0fd;">
				</div>
				<div>
					<span class="et-pb-icon">&#xe0e4;</span>
					<input type="text" value="&amp;#xe0e4;">
				</div>
				<div>
					<span class="et-pb-icon">&#xe0e5;</span>
					<input type="text" value="&amp;#xe0e5;">
				</div>
				<div>
					<span class="et-pb-icon">&#xe0f7;</span>
					<input type="text" value="&amp;#xe0f7;">
				</div>
				<div>
					<span class="et-pb-icon">&#xe0e0;</span>
					<input type="text" value="&amp;#xe0e0;">
				</div>
				<div>
					<span class="et-pb-icon">&#xe0fc;</span>
					<input type="text" value="&amp;#xe0fc;">
				</div>
				<div>
					<span class="et-pb-icon">&#xe0f9;</span>
					<input type="text" value="&amp;#xe0f9;">
				</div>
				<div>
					<span class="et-pb-icon">&#xe0dd;</span>
					<input type="text" value="&amp;#xe0dd;">
				</div>
				<div>
					<span class="et-pb-icon">&#xe0f1;</span>
					<input type="text" value="&amp;#xe0f1;">
				</div>
				<div>
					<span class="et-pb-icon">&#xe0dc;</span>
					<input type="text" value="&amp;#xe0dc;">
				</div>
				<div>
					<span class="et-pb-icon">&#xe0f3;</span>
					<input type="text" value="&amp;#xe0f3;">
				</div>
				<div>
					<span class="et-pb-icon">&#xe0d8;</span>
					<input type="text" value="&amp;#xe0d8;">
				</div>
				<div>
					<span class="et-pb-icon">&#xe0db;</span>
					<input type="text" value="&amp;#xe0db;">
				</div>
				<div>
					<span class="et-pb-icon">&#xe0f0;</span>
					<input type="text" value="&amp;#xe0f0;">
				</div>
				<div>
					<span class="et-pb-icon">&#xe0df;</span>
					<input type="text" value="&amp;#xe0df;">
				</div>
				<div>
					<span class="et-pb-icon">&#xe0f2;</span>
					<input type="text" value="&amp;#xe0f2;">
				</div>
				<div>
					<span class="et-pb-icon">&#xe0f4;</span>
					<input type="text" value="&amp;#xe0f4;">
				</div>
				<div>
					<span class="et-pb-icon">&#xe0d9;</span>
					<input type="text" value="&amp;#xe0d9;">
				</div>
				<div>
					<span class="et-pb-icon">&#xe0da;</span>
					<input type="text" value="&amp;#xe0da;">
				</div>
				<div>
					<span class="et-pb-icon">&#xe0de;</span>
					<input type="text" value="&amp;#xe0de;">
				</div>
				<div>
					<span class="et-pb-icon">&#xe0e6;</span>
					<input type="text" value="&amp;#xe0e6;">
				</div>
						
				<div>
					<span class="et-pb-icon">&#xe093;</span>
					<input type="text" value="&amp;#xe093;">
				</div>
				<div>
					<span class="et-pb-icon">&#xe094;</span>
					<input type="text" value="&amp;#xe094;">
				</div>
				<div>
					<span class="et-pb-icon">&#xe095;</span>
					<input type="text" value="&amp;#xe095;">
				</div>
				<div>
					<span class="et-pb-icon">&#xe096;</span>
					<input type="text" value="&amp;#xe096;">
				</div>
				<div>
					<span class="et-pb-icon">&#xe097;</span>
					<input type="text" value="&amp;#xe097;">
				</div>
				<div>
					<span class="et-pb-icon">&#xe098;</span>
					<input type="text" value="&amp;#xe098;">
				</div>
				<div>
					<span class="et-pb-icon">&#xe099;</span>
					<input type="text" value="&amp;#xe099;">
				</div>
				<div>
					<span class="et-pb-icon">&#xe09a;</span>
					<input type="text" value="&amp;#xe09a;">
				</div>
				<div>
					<span class="et-pb-icon">&#xe09b;</span>
					<input type="text" value="&amp;#xe09b;">
				</div>
				<div>
					<span class="et-pb-icon">&#xe09c;</span>
					<input type="text" value="&amp;#xe09c;">
				</div>
				<div>
					<span class="et-pb-icon">&#xe09d;</span>
					<input type="text" value="&amp;#xe09d;">
				</div>
				<div>
					<span class="et-pb-icon">&#xe09e;</span>
					<input type="text" value="&amp;#xe09e;">
				</div>
				<div>
					<span class="et-pb-icon">&#xe09f;</span>
					<input type="text" value="&amp;#xe09f;">
				</div>
				<div>
					<span class="et-pb-icon">&#xe0a0;</span>
					<input type="text" value="&amp;#xe0a0;">
				</div>
				<div>
					<span class="et-pb-icon">&#xe0a1;</span>
					<input type="text" value="&amp;#xe0a1;">
				</div>
				<div>
					<span class="et-pb-icon">&#xe0a2;</span>
					<input type="text" value="&amp;#xe0a2;">
				</div>
				<div>
					<span class="et-pb-icon">&#xe0a3;</span>
					<input type="text" value="&amp;#xe0a3;">
				</div>
				<div>
					<span class="et-pb-icon">&#xe0a4;</span>
					<input type="text" value="&amp;#xe0a4;">
				</div>
				<div>
					<span class="et-pb-icon">&#xe0a5;</span>
					<input type="text" value="&amp;#xe0a5;">
				</div>
				<div>
					<span class="et-pb-icon">&#xe0a6;</span>
					<input type="text" value="&amp;#xe0a6;">
				</div>
				<div>
					<span class="et-pb-icon">&#xe0a7;</span>
					<input type="text" value="&amp;#xe0a7;">
				</div>
				<div>
					<span class="et-pb-icon">&#xe0a8;</span>
					<input type="text" value="&amp;#xe0a8;">
				</div>
				<div>
					<span class="et-pb-icon">&#xe0a9;</span>
					<input type="text" value="&amp;#xe0a9;">
				</div>
				<div>
					<span class="et-pb-icon">&#xe0aa;</span>
					<input type="text" value="&amp;#xe0aa;">
				</div>
				<div>
					<span class="et-pb-icon">&#xe0ab;</span>
					<input type="text" value="&amp;#xe0ab;">
				</div>
				<div>
					<span class="et-pb-icon">&#xe0ac;</span>
					<input type="text" value="&amp;#xe0ac;">
				</div>
				<div>
					<span class="et-pb-icon">&#xe0ad;</span>
					<input type="text" value="&amp;#xe0ad;">
				</div>
				<div>
					<span class="et-pb-icon">&#xe0ae;</span>
					<input type="text" value="&amp;#xe0ae;">
				</div>
				<div>
					<span class="et-pb-icon">&#xe0af;</span>
					<input type="text" value="&amp;#xe0af;">
				</div>
				<div>
					<span class="et-pb-icon">&#xe0b0;</span>
					<input type="text" value="&amp;#xe0b0;">
				</div>
				<div>
					<span class="et-pb-icon">&#xe0b1;</span>
					<input type="text" value="&amp;#xe0b1;">
				</div>
				<div>
					<span class="et-pb-icon">&#xe0b2;</span>
					<input type="text" value="&amp;#xe0b2;">
				</div>
				<div>
					<span class="et-pb-icon">&#xe0b3;</span>
					<input type="text" value="&amp;#xe0b3;">
				</div>
				<div>
					<span class="et-pb-icon">&#xe0b4;</span>
					<input type="text" value="&amp;#xe0b4;">
				</div>
				<div>
					<span class="et-pb-icon">&#xe0b5;</span>
					<input type="text" value="&amp;#xe0b5;">
				</div>
				<div>
					<span class="et-pb-icon">&#xe0b6;</span>
					<input type="text" value="&amp;#xe0b6;">
				</div>
				<div>
					<span class="et-pb-icon">&#xe0b7;</span>
					<input type="text" value="&amp;#xe0b7;">
				</div>
				<div>
					<span class="et-pb-icon">&#xe0b8;</span>
					<input type="text" value="&amp;#xe0b8;">
				</div>
				<div>
					<span class="et-pb-icon">&#xe0b9;</span>
					<input type="text" value="&amp;#xe0b9;">
				</div>
				<div>
					<span class="et-pb-icon">&#xe0ba;</span>
					<input type="text" value="&amp;#xe0ba;">
				</div>
				<div>
					<span class="et-pb-icon">&#xe0bb;</span>
					<input type="text" value="&amp;#xe0bb;">
				</div>
				<div>
					<span class="et-pb-icon">&#xe0bc;</span>
					<input type="text" value="&amp;#xe0bc;">
				</div>
				<div>
					<span class="et-pb-icon">&#xe0bd;</span>
					<input type="text" value="&amp;#xe0bd;">
				</div>
				<div>
					<span class="et-pb-icon">&#xe0be;</span>
					<input type="text" value="&amp;#xe0be;">
				</div>
				<div>
					<span class="et-pb-icon">&#xe0bf;</span>
					<input type="text" value="&amp;#xe0bf;">
				</div>
				<div>
					<span class="et-pb-icon">&#xe0c0;</span>
					<input type="text" value="&amp;#xe0c0;">
				</div>
				<div>
					<span class="et-pb-icon">&#xe0c1;</span>
					<input type="text" value="&amp;#xe0c1;">
				</div>
				<div>
					<span class="et-pb-icon">&#xe0c2;</span>
					<input type="text" value="&amp;#xe0c2;">
				</div>
				<div>
					<span class="et-pb-icon">&#xe0c3;</span>
					<input type="text" value="&amp;#xe0c3;">
				</div>
				<div>
					<span class="et-pb-icon">&#xe0c4;</span>
					<input type="text" value="&amp;#xe0c4;">
				</div>
				<div>
					<span class="et-pb-icon">&#xe0c5;</span>
					<input type="text" value="&amp;#xe0c5;">
				</div>
				<div>
					<span class="et-pb-icon">&#xe0c6;</span>
					<input type="text" value="&amp;#xe0c6;">
				</div>
				<div>
					<span class="et-pb-icon">&#xe0c7;</span>
					<input type="text" value="&amp;#xe0c7;">
				</div>
				<div>
					<span class="et-pb-icon">&#xe0c8;</span>
					<input type="text" value="&amp;#xe0c8;">
				</div>
				<div>
					<span class="et-pb-icon">&#xe0c9;</span>
					<input type="text" value="&amp;#xe0c9;">
				</div>
				<div>
					<span class="et-pb-icon">&#xe0ca;</span>
					<input type="text" value="&amp;#xe0ca;">
				</div>
				<div>
					<span class="et-pb-icon">&#xe0cb;</span>
					<input type="text" value="&amp;#xe0cb;">
				</div>
				<div>
					<span class="et-pb-icon">&#xe0cc;</span>
					<input type="text" value="&amp;#xe0cc;">
				</div>
				<div>
					<span class="et-pb-icon">&#xe0cd;</span>
					<input type="text" value="&amp;#xe0cd;">
				</div>
				<div>
					<span class="et-pb-icon">&#xe0ce;</span>
					<input type="text" value="&amp;#xe0ce;">
				</div>
				<div>
					<span class="et-pb-icon">&#xe0cf;</span>
					<input type="text" value="&amp;#xe0cf;">
				</div>
				<div>
					<span class="et-pb-icon">&#xe0d0;</span>
					<input type="text" value="&amp;#xe0d0;">
				</div>
				<div>
					<span class="et-pb-icon">&#xe0d1;</span>
					<input type="text" value="&amp;#xe0d1;">
				</div>
				<div>
					<span class="et-pb-icon">&#xe0d2;</span>
					<input type="text" value="&amp;#xe0d2;">
				</div>
				<div>
					<span class="et-pb-icon">&#xe0d3;</span>
					<input type="text" value="&amp;#xe0d3;">
				</div>
				<div>
					<span class="et-pb-icon">&#xe0d4;</span>
					<input type="text" value="&amp;#xe0d4;">
				</div>
				<div>
					<span class="et-pb-icon">&#xe0d5;</span>
					<input type="text" value="&amp;#xe0d5;">
				</div>
				<div>
					<span class="et-pb-icon">&#xe0d6;</span>
					<input type="text" value="&amp;#xe0d6;">
				</div>
				<div>
					<span class="et-pb-icon">&#xe0d7;</span>
					<input type="text" value="&amp;#xe0d7;">
				</div>
					</section>
		<!--endcol-->
	<!--endrow-->

<!--endsection-->